<div class="panel panel-default">
	<%= form_with(model: blog, local: true, multipart: true) do |form| %>
	<% if blog.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

		<ul>
			<% blog.errors.full_messages.each do |message| %>
			<li>
				<%= message %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<div class="panel-body">
		<div class="form-group">
			<%= form.label :title %>
			<%= form.text_field :title, class: "form-control",id: :blog_title %>
		</div>

		<div class="form-group">
			<%= form.label :blog %>
			<%= form.text_area :blog, class: "form-control",id: :blog_blog %>
		</div>

		<div class="form-group">
			<%= form.label :image %>
			<%= form.file_field :image, id: :blog_image %> 
		</div>

		<div class="form-group">
			<%= form.label :entry %>
			<%= form.datetime_select :entry, class: "form-control",id: :blog_entry %>
		</div>
		<div class="actions">
			<%= form.submit %>
		</div>
	</div>
	<% end %>
</div>
