<p id="notice">
	<%= notice %>
</p>

<h1>Blogs</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="row">Image</th>
			<th scope="row">Title</th>
			<th scope="row">Entry</th>
			<th scope="row" colspan="4"></th>
		</tr>
	</thead>

	<tbody>
		<% @blogs.each do |blog| %>
		<tr>
			<td><%= image_tag blog.image.url(:medium) %></td>
			<td><%= blog.title %></td>
			<td><%= blog.entry %></td>
			<td><%= link_to 'Show', blog %></td>
			<% if blog.user == current_user %>
			<td><%= link_to 'Edit', edit_blog_path(blog) %></td>
			<td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
